{% extends 'base.html' %}
{% load static %}

{% block german_card %}
    <div class="card" id="german_card" style="display: block; width: 25rem;">
        <img class="card-img-top" src="{%static '/pictures/germany-flag-brush.png' %}" alt="Card image cap" height="50px">
        <div class="card-body">
            <h5>{{ card.german_sentence }}</h5>
        </div>

    </div>
{% endblock german_card %}
{% block hungarian_card %}
    <div class="card" id="hungarian_card" style="display: none; width: 25rem;">
        <img class="card-img-top" src="{%static '/pictures/hungary-flag-brush.png' %}" alt="Card image cap" height="50px">
        <div class="card-body">
            <h5>{{ card.hungarian_sentence }}</h5>
        </div>
    </div>
{% endblock hungarian_card %}
{% block buttons %}
    <a class="btn btn-primary" href="/show_card/" role="button">Next</a>
{% endblock buttons %}

